body {
    font-family: 'Poppins', Verdana, sans-serif;
}

/*Navigation bar*/
nav {
    background-color: white;

}
nav ul {
    padding: 0px;
    font-size: 16px;
}
nav li {
    padding-left: 20px;
    display: inline-block;
}
.nav-active {
    font-weight: 600;
    color: #1B203C;
}

nav a {
    color: #434665;
    text-decoration: none;
}


/*Game item*/