body {
    font-family: 'Poppins', Verdana, sans-serif;
    margin: 0px;
}

header {
    background-color: white;
    min-width: 1200px;
    height: 150px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', Verdana, sans-serif;

}
main {
    background-color: #1B203C;
    display: flex;
    width: 100%;
    align-content: top;
    flex-wrap: wrap;
    position: absolute;
    min-height: 80vh;
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-right: 100px;
}
.layout {
    display: flex;
    flex-direction: column;
}
.box {
    float: left;
    width: 50%;
}

footer {
    background-color: white;
}
/* Header content */
.header-left {
    padding-left: 100px;
    width: 40%;
}
.header-middle {
    width: 20%;
    display: flex;
    justify-content: center;
}
.header-right {
    width: 40%;
    column-gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
}

/* Icons & images */

.material-symbols-outlined {
    font-size: 25px;
    color: #1B203C;
}

.header-right .material-symbols-outlined {
    font-size: 25px;
    background-color: #EBEBFD;
    padding: 10px;
    border-radius: 30px;
}

.logo { /* GameHub Logo */
    width: 175px;
}





/* Navigation bar */
nav {
    background-color: white;

}
nav ul {
    padding: 0px;
    font-size: 16px;
}
nav li {
    padding-right: 20px;
    display: inline-block;
}
.nav-active {
    font-weight: 600;
    color: #1B203C;
}

nav a {
    color: #434665;
    text-decoration: none;
}

/* Typography */
h1 {
    color: #CACBF1;
    font-size: 39.06px;
}
h2 {
    color: #CACBF1;
    font-weight: 600;
    font-size: 31.25px;
}

p {
    color: #CACBF1;
    font-size: 16px;
}

/* Buttons */
.button {
    width: 110px;
    font-weight: 600;
    border: none;
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #1B203C;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    transition: 0.5s;
    justify-content: center;
    gap: 5px;
}
.button:hover {
    background-color: #CACBF1;
    border: none;
    color: white;
    content: "Search";
}

.button:after{
    content:'Discover';
}
.button:hover:after{
    content:'Search';
}

/* Game item */
.game-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.game-item {
    width: 150px;
    display: flex;
    flex-direction: column;
}
.game-item img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.game-item p {
    color: #1B203C;
    font-weight: 600;
    text-align: center;

}

.game-description {
    background-color: white;
}

.platforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}

.game-price {
    display: flex;
    font-size: 14px;
    gap: 20px;
    background-color: #434665;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: center;
    color: white;
}    
.old-price {
color:#CACBF1;
font-size: 12px;
text-decoration: line-through;
}
.new-price {

}

/* Responsive Layout */
@media only screen and (max-width: 480px) {
    h2 {
      font-size: 18px;
    }
  }
  
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    h2 {
      font-size: 20px;
    }
  }